.header__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 1px;
    max-width: 1980px;
}

@media (max-width: 600px) {
    .header__area {
        height: 80px;
    }
}