.area__four {
    display: grid;
    grid-template-columns: 500px 1fr;
 }
 
 .area__four--content {
     padding: 150px 80px;
     background-color:var(--area-four_bg-content);
 }
 
 .area__four--text {
     line-height: 20px;
     margin-bottom: 20px;
 }
 
 .area__four--img1 {
     background-image: url(../../images/bg3.jpg);
     background-position: left;
 }

 @media (max-width: 768px) {
    .area__four {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .area__four--img1 {
        background-image: url(../../images/bg3.jpg);
        background-position: center ;
    }
}

@media (max-width: 500px) {
    .area__four--content {
        padding: 100px 15px;
    }
}