.area__two {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}
.area__two--content {
    padding: 80px;
}

.area__two--text {
    line-height: 20px;
    margin-bottom: 20px;
}
.area__two--img1 {
    background-image: url(../../images/f4.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;  
}
.area__two--img2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(../../images/f3.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .area__two {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
    .area__two--content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .area__two--img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    .area__two--img2 {
        height: 576px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }  
}

@media (max-width: 500px) {
    .area__two--content {
        padding: 100px 15px;
    }
}