.area__five {
    display: flex;
    background-image: url(../../images/bg4.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

@media (max-width: 1140px) {
    .area__five {
       width: 100%;
    }
}