.banner {
    background-image: url(../../images/bg5.jpg);
    background-position: bottom;
    background-size: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.banner span {
    font-family: 'Open Sans';
    text-align: center;
    color: #23f5a8;
    width: 100%;
}

@media (max-width: 768px) {  
    .banner span {
      font-weight: 600;
      width: 45%;
      line-height: 1.5;
      color: #002719;
    }
}

@media (max-width: 600px) {
    .banner span {
        width: 50%;
      }
}



