footer {
    border-top: 1px solid #CCC;
}

.footer__content {
    max-width: 1280px;
    margin: 0 auto;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding: 20px 0px;
    margin-left: 20px;
    margin-top: 20px;
}
.socials a {
    padding-right: 20px;
}

.links {
    padding-left: 20px;
}
.links a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 14px;
    border-left: 1px solid black;
    margin-bottom: 30px;
}
.links a:hover {
   color: #006341;;
}
.links a:nth-child(1) {
    padding-left: 0;
    border-left: 0px;
}

footer p {
    margin-left: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}
footer p span{
    font-size: 16px;
    margin-right: 2px;
}


@media (min-width: 1280px) {
    .socials,
    .links,
    footer p {
        margin-left: 0;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .socials {
        margin-bottom: 10px;
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px 20px 20px;
        line-height: 1.5;
    }
    .links a{
        padding: 0;
        margin-bottom: 10px;
        border: none;
    }
    footer p {
        margin-bottom: 30px;
    }
}